body {
  color: hsl(0deg 0% 9%); /* #171717 */
  line-height: 1.75rem;

  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem 0 1rem;
}

/* 
0.75rem: 12px
0.875rem: 14px
1rem: 16px 
1.25rem: 20px 
1.5rem: 24px
1.75rem: 28px
2rem: 32px 
2.25rem: 36px 
2.5rem: 40px 
3rem: 48px 
*/

h1 {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h2 + * {
  margin-top: 0;
}

p {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

li p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

strong {
  font-weight: 600;
  font-size: 1rem;
}

h1 strong {
  font-weight: bolder;
  font-size: inherit;
}

em {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
}

ol,
ul {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-left: 2rem;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

::marker {
  color: hsl(263deg 70% 50%);
}

code {
  font-family: "Source Code Pro", "Fira Code", "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 0.875rem;
}

code::after,
code::before {
  content: "`";
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

figure > img {
  width: 480px;
  height: 270px;
}

figcaption {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(0deg 0% 32%);
  text-align: center;
}

a {
  font-weight: 500;
  font-size: 1rem;
  color: hsl(263deg 70% 50%);
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
}

footer {
  background-color: hsl(0deg 0% 96%);
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

table {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  border-collapse: collapse;
}

th {
  font-weight: 600;
  text-align: left;
  padding: 0.5rem;
  padding-top: 0;
  border-bottom: 1px solid hsl(0deg 0% 64%);
}

tr th:first-child,
tr td:first-child {
  padding-left: 0;
}

tr th:last-child,
tr td:last-child {
  padding-right: 0;
}

td {
  padding: 0.5rem;
  border-bottom: 1px solid hsl(0deg 0% 83%);
}

tr:last-child td {
  border-bottom: none;
}
