/* Selectores CSS: */

/* 1. Selector Universal  */

/* * {
  color: purple;
} */

/* 2. Selectores de Tipo */

h1 {
  color: red;
  background-color: gray;
}

p {
  color: yellow;
  background-color: gray;
}

/* 3. Selectores de Clase  */

.big {
  font-size: 20px;
  color: black;
}

.small {
  font-size: 12px;
}

.extra-big {
  font-size: 24px;
}

.extra-small {
  font-size: 8px;
}

/* 4. Selectores de ID  */

/* #top-element {
  text-align: center;
  color: green;
} */

/* Selectores de Atributos  */

[src="./images/guarantee.png"] {
  opacity: 1;
}

/* [class] {
  color: green;
} */

[class*="big"] {
  color: yellow;
}

/* Operador Caret `^` */
[class^="big"] {
  color: yellow;
}

[class$="end"] {
  color: blueviolet;
}

/* ~ swing dash  tilde ondulada */

/* 

Cascada

Resumen: origen, !important y la especificidad, 


Atributo style
ID
Clases - Pseudo Clases - Atributos
Tipo - Pseudo Elementos
Universal 

*/
