:root {
  /* Custom Properties */
  --mi-propiedad: red;
  --color-rojo: red;
  --color-verde: green;
  --color-azul: blue;
  --color-rojo: red;
  --color-rojo: red;
  --espaciado-extra-largo: 32px;
  --espaciado-largo: 24px;
  --espaciado-normal: 1rem;
  --numero: 200;

  --mi-borde: 2px solid #ff0000;
  --mi-estilo-de-linea: double;
  --regular-size: 1.25rem;
}

body {
  line-height: 1.5rem;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-header {
  /* border: var(--mi-propiedad); */
  /* border: var(--mi-estilo-de-linea); */
  max-width: 768px;
  margin-bottom: 2.5rem;
}

.header-title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: var(--regular-size);
}

.header-description {
  font-weight: 400;
  font-size: var(--regular-size);
  color: hsl(220deg 6% 40%);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.category {
  width: 384px;
  --color-naranja: #ffa500;
}

.category img {
  width: 100%;
  margin-bottom: var(--regular-size);
  border-radius: 12px;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.category a {
  text-decoration: none;
}

.category h3 {
  color: var(--color-naranja);
  font-weight: 600;
  font-size: var(--regular-size);
  margin-bottom: 0.5rem;
}

.category p {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 0.875rem;
  color: hsl(220deg 6% 40%);
}

footer a {
  /* No funciona porque estamos fuera del scope de .category */
  color: var(--color-naranja);
}
